body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #EFECE3;
}

.main-container {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    border: 3px solid #ffa0a0;
    border-radius: 20px;
    overflow: hidden;
}

.pixel {
    flex-basis: 12.1%;
    background-color: blue;
    transition: 0.2s ease-in-out;
    border: 1px solid blue !important;
}

.pixel:hover {
    transition: 0.2s ease-in-out;
}

.no-pixel {
    flex-basis: 12.1%;
    border: 1px solid #ffa0a0;
    transition: 0.2s ease-in-out;
}

.no-pixel:hover {
    transition: 0.2s ease-in-out;
    background: #ffa0a0;
}

.characterRight {
    transform: scale(1, -1);
}

.new-character {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    color: white;
    border: none;
    border-radius: 10px;
    width: 200px;
    padding: 10px 0px;
    background-color: blue;
}

.new-character:hover {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: rgb(194, 248, 203);
    color: black;
}
