* {
    font-family: Helvetica, Arial, Sans-Serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(20, 0, 75);
    height: 100vh;
}

h1 {
    color: blue;
}

.main-container {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    border: 3px solid #ff3636;
    overflow: hidden;
}

.row {
    display: flex;
    margin-top: 30px;
}

.pixel {
    flex-basis: 12.1%;
    background-color: blue;
    transition: 0.2s ease-in-out;
    border: 1px solid blue !important;
}

.pixel:hover {
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.no-pixel {
    flex-basis: 12.1%;
    border: 1px solid #ff3636;
    transition: 0.2s ease-in-out;
}

.no-pixel:hover {
    transition: 0.2s ease-in-out;
    background: #d6d6d6;
    cursor: crosshair;
}

.new-character {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    color: white;
    border: none;
    border-radius: 10px;
    width: 200px;
    padding: 10px 0px;
    background-color: blue;
    margin: 10px;
}

.new-character:hover {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: rgb(20, 0, 75);
    color: #ff3636;
}
